*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
   
    padding: 1%;
    width: 80%;
    margin:  auto;
}
.wrapper1 {
   
    
    width: 100%;
    margin:  auto;
}

.text-center {
    text-align: center;

}
.clearfix {
    float: none;
    clear: both;
}
.tbl-full {
    width: 100%;
}

.tbl-30 {
    width: 30%;
}
table tr th {
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: left;
}
table tr td {

    padding:1%;
    
}
.btn-primary {
    
    background-color: #1e90ff;
    padding: 1%;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 3px;
}

.btn-primary:hover {
    background-color:#3742fa;
}
.btn-secondary {
    background-color: #37ec70;
    padding: 1%;
    color:black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 3px;
}

.btn-secondary:hover {
    background-color:#03C988;
}
.btn-danger {
    background-color:#ff6b81;
    padding: 1%;
    color: black;
    text-decoration: none;
    font-weight: bold;
    border-radius: 3px;
}

.btn-danger:hover {
    background-color:#E21818;
}

.success {
    color: #2ed573;
    font-weight: bold;
}
.error {
    color: #ff4757;
    font-weight: bold;
}

/* menu */
.menu {
    border-bottom: 1px solid gray;
}
.menu ul{
    list-style: none;
}
.menu ul li{
    display: inline;
    padding: 1%;
}
.menu ul li a {
    text-decoration: none;
    font-weight: bold;
    color:  #ff6b81;
}
.menu ul li a:hover {
color: #ff4757;
}
/* main */

.main-content {
    background-color:#ffffff;
    padding: 3% 0;
}
.col-4 {
    width: 18%;
    background-color:#ffffff;
    margin: 1%;
    padding: 2%;
    float: left;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.2) 0 8px 12px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .45rem;
}
.col-4:hover {
    transform: translateY(-2px);
  }


/* footer */
.footer {
  background-color: #ff4757;
  color: white;
  
 
}
.full-screen{
  height: 73vh;
  
}

/* login */

.login {
    background-color: rgba(255,255,255,0.13);
    border-radius: 10px;
    
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    width: 350px;
    margin: 5% auto;
    padding: 2%;  
     
}

.body{
    height: 100vh;
    background-color:#f1f2f6;
}
.input-class{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 4px;
    font-size: 14px;
    font-weight: 300;
}


.button-6 {
    align-items: center;
    background-color:#ff6b81;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color:#ffffff;
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: 100%;
  }
  
  .button-6:hover,
  .button-6:focus {
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
    color: #ffffff;
    background-color: #05c46b;
  }
  
  .button-6:hover {
    transform: translateY(-2px);
  }
  
  .button-6:active {
    background-color: #F0F0F1;
    border-color: rgba(0, 0, 0, 0.15);
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    color: rgba(0, 0, 0, 0.65);
    transform: translateY(0);
  }
 